<ol class="breadcrumb">
  <li><a href="<%= suppliers_path %>">Suppliers</a></li>
  <li class="active">New Supplier</li>
</ol>

<%= render 'form' %>

<%= link_to 'Back', suppliers_path, :class => 'btn btn-lg pull-right' %>
