<ol class="breadcrumb">
  <li><a href="<%= products_path %>">Products</a></li>
  <li class="active">New Product</li>
</ol>

<%= render 'form' %>

<%= link_to 'Back', products_path, :class => 'btn btn-lg pull-right' %>
