<ol class="breadcrumb">
  <li><a href="<%= orders_path %>">Orders</a></li>
  <li class="active">New Order</li>
</ol>

<%= render 'form' %>

<div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="orderLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Items list</h4>
      </div>
      <div class="modal-body">
        <table id="final-order" class="table">
            <thead>
                <tr>
                    <td>Product</td>
                    <td>Size</td>
                    <td>Quantity</td>
                    <td>Cost</td>
                </tr>
            </thead>
            <tbody>
                <tr id="empty-row" class="disposable-row" style="display:none;"><td colspan="4">There are no ready items :(</td></tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a class="btn btn-lg" href="#" data-dismiss="modal">Close</a>
        <button id="save-order" type="button" class="btn btn-success">Save items</button>
        <button id="create-order" type="button" class="btn btn-primary">New order</button>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', orders_path, :class => 'btn btn-lg pull-right' %>
